<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/base_datos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Modelo/Marca.hbm.xml"/>
    <mapping resource="Modelo/Presentacion.hbm.xml"/>
    <mapping resource="Modelo/Producto.hbm.xml"/>
    <mapping resource="Modelo/Proveedor.hbm.xml"/>
    <mapping resource="Modelo/Zona.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
